.information-container
{
    display: flex;
}

.information-container a:hover
{
    color: var(--green-white) !important;
}

.information
{
    display: flex;
    align-items: center;
    font-size: 0.84em;
    margin-right: 0.5vh;
    color: var(--green-white);
    margin-left: 0.5vh;
    text-decoration: none;
}

.icon
{
    width: 3vh;
    margin-right: 1vh;
}

.information p
{
    margin-right: 1vh;
    margin-bottom: 0;
}