.botton-container
{
    display: flex;
}

.botton
{
    padding:1vh;
    margin-left: 1vh;
    margin-right: 1vh;
    border-radius: 50%;
    transition: all .3s ease;
}

.imgBotton
{
    width:4vh;
    height: 4vh;
}

.botton:hover
{
    background-color: var(--green-clear);
    cursor:pointer;
}

.other-color:hover
{
    background-color: var(--green-dark);
}