.card-body
{
    background-color:var(--green-dark);
    transition: all .5s;
}

.card
{
    background-color: var(--bright-green) !important;
    transition: all .5s;
    height: 100% !important;
}

.card:hover
{
    box-shadow: 5px 5px 10px 1px var(--black-green);
}

.card img
{
    width: 100%;
    transition: all .5s;
}

.overflow
{
    overflow: hidden;
}

.card img:hover
{
    transform: scale(1.2);
}
