.card-body
{
    background-color:var(--green-dark);
    transition: all .5s;
}

.container-card
{
    margin-bottom: 5vh;
}

.card
{
    background-color: #3837389f !important;
    transition: all .5s;
    height: 100% !important;
}

.card:hover
{
    box-shadow: 5px 5px 10px 1px var(--gray-color);
}

.card img
{
    width: 100%;
    transition: all .5s;
}

.overflow
{
    overflow: hidden;
}

.overflow img:hover
{
    transform: scale(1.2);
}
