.main-div nav
{
    position: sticky;
    top: 0;
    z-index: 500;
    transition: all .5s;
}

.principal-info
{
    display: flex;
    justify-content: space-between;
    color: var(--green-white);
    background-color:var(--principal-color);
}

.dates
{
    display: flex;
    margin: 0.9vh;
    flex-wrap: wrap;
    margin-left: 5vh;
}

.social-networks
{
    display: flex;
    margin-right: 5vh;
    flex-wrap: wrap;
}

.navBar
{
    position: sticky;
    background-color: var(--green-white);
    display: flex;
    align-items: center;
    padding: 2vh;
    transition: all .5s;
}

.navBarIsDown
{
    padding: 1vh;
    background-color: var(--principal-color);
}

.navBar .logo-container
{
    width: 0;
    height: 6vh;
}

.navBar .logo-container img
{
    margin-left: 5vh;
   height: 6vh;
}

.link-menu
{
    display: flex;
    margin: auto;
}