.responsive-banner
{
    display: inline-block;
    margin: 20px;
    min-width: 490px;
    position: relative;
    max-height: 300px;
    border-radius: 35px;
    overflow: hidden;
    background-repeat: no-repeat;
    text-align: left;
    transition: all .5s;
}

.responsive-banner:hover
{
    box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.493);
}

.container-envelope {
    max-width: calc(100%);
    padding: 15px;
    color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    min-height: 300px;
    max-height: 450px;
}

.icons
{
    width: 5em;
    margin-bottom: 1vh;
}

.col-xs-12 {
    flex: 0 0 100%;
    max-width: 100%;
    align-self: flex-end;
}

@media (min-width: 650px)
{
    .col-xs-12
    {
        align-self: start;
    }

    .container-envelope
    {
        max-width: calc(100% - 237px);
    }
}

.banners p
{
    clear: both;
    font-family: 'Work Sans', Helvetica, sans-serif;
    text-transform: none;
    text-rendering: optimizeLegibility;
    font-weight: 500;
    line-height: 1.15;
    word-wrap: break-word;
    margin: 1em 0 0.5em;
    margin: 0;
    padding: 0;
    color: #fff;
    position: relative;
    word-wrap: break-word;
    font-size: 1em;
    margin-bottom: 20px;
}

.banners h4
{
    margin-left: 0;
    color: var(--green-white);
    border-bottom: 0px;
}

.banners
{
    box-sizing: border-box;
}

.container-circle
{
    display: flex;
    position: absolute;
    justify-content: end;
    width: 100%;
    height: 300px;
}

.aux-container
{
    border-radius: 0% 0% 0% 100%;
    width : 55%;
    height: 90%;
    overflow: hidden;
}

.aux-container img
{
    object-fit: cover;
    transition: all .5s;
}

.aux-container img:hover
{
    transform: scale(1.05);
}

.cirle-a
{
    bottom: -80px;
    left: -80px;
}

.cirle-b
{
    top: -30px;
    right: 70%;
}

.cirle-d
{
    top: 195px;
    right: 145px;
}

.floating-elements
{
    fill: rgba(0, 0, 0, 0.1);
    position: absolute;
}

.div
{
    display: block;
    width: 30%;
    height: 30vh;
}

.banners
{
    text-align: center;
}

.banners input, select, textarea
{
    font-family: 'Source Sans Pro', Helvetica, sans-serif;
    color: #90b0bf;
}

.banners h1
{
    text-align: center;
    margin: 30px 15px;
}

@keyframes up {
    to{
        transform: translateY(0);
        opacity: 1;
    }
}

.section-store
{
    display: flex;
    z-index: 500;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: rgba(0, 0, 0, 0);
    top: 0px;
    margin: auto;
    width: 100%;
    height: 100vh;
    transition: all 0.5 ease;
}

.store-active
{
    visibility: visible;
}